<h3>Login form</h3>

<form name="input" action="/log" method="post">
  <p> Login in plan: <%= @plan_id %> </p>
  <p>Will have the token: <%= @pre_token %></p>

  <label for="user">Username:</label>
  <input type="text" name="user">

  <label for="password">Pass:</label>
  <input type="text" name="password">

  <input type="hidden" name="state" value="<%= @my_local_state %>">
  <input type="hidden" name="plan_id" value="<%= @plan_id %>">

<br />
  <div class="btn-group">
    <button type="submit" class="btn">Submit</button>
  </div>

</form>
