<h2>Test app for 3scale's oauth2 integration </h2>

<p>
This app is a simple demo of what's needed to integrate with
3scale's oauth2 system.

<a href="/login">/login</a> is the url to go for the login, but if the
request doesn't come with the proper params, it may not work.
</p>
